/* iPhone 11 */
.device-mockup.iphone11,
.device-mockup.iphone11.portrait {
	padding-bottom: 201.76%;
}


#mainNav .navbar-brand {
    font-family: 'Balsamiq Sans', cursive;
    color: #E3E7F1;
}

@media (min-width: 992px) {
    #mainNav.navbar-shrink .navbar-brand {
        color: #003A66;
    }

    #mainNav.navbar-shrink .navbar-nav>li>a:focus:hover, #mainNav.navbar-shrink .navbar-nav>li>a:hover {
        color: #BDC6D9;
    }

    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
        color: #BDC6D9;
    }
}

@media (max-width: 991px) {
    #mainNav .navbar-brand {
        color: #003A66;
    }
}

#mainNav .navbar-nav>li>a.active {
    color: #BDC6D9!important;
}



header.masthead {
    background: url(../img/bg-pattern.png),#338FD6;
    background: url(../img/bg-pattern.png),linear-gradient(to bottom right,#338FD6,#003A66);
}


.bg-primary {
    background: #BDC6D9;
    background: linear-gradient(#E3E7F1,#BDC6D9);
}


.thank-you {
    display: none;
}

.signup-form {
    display: inline-block;
}

.signup-form input[type="email"] {
    height: 54px;
    width: 300px;
    border-radius: 300px;
    padding: 0 20px;
    font-size: 15px;
    box-sizing: border-box;
    background: #fff;
    border: none;
    margin: 0 10px 10px 0;
}

.signup-form input[type="email"]:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}



.btn-xl {
    font-size: 15px;
}

.btn {
    text-transform: none;
}

.btn-outline.active, .btn-outline:active, .btn-outline:focus, .btn-outline:hover {
    background-color: #BDC6D9;
    border-color: #BDC6D9;
}


section.features .feature-item i {
    background: linear-gradient(to bottom right,#338FD6,#003A66);
    -webkit-background-clip: text;
}